body{
margin:0;
font-family:Arial;
background:#0f0f1a;
color:white;
text-align:center;
}

.navbar{
display:flex;
justify-content:space-between;
padding:15px 40px;
background:#111;
}

.navbar a{
color:white;
margin:0 10px;
text-decoration:none;
}

.register-btn{
background:#00ffcc;
padding:5px 10px;
color:black;
border-radius:5px;
}

button{
padding:10px 20px;
margin:10px;
background:#00ffcc;
border:none;
border-radius:5px;
cursor:pointer;
font-weight:bold;
}

.form-box{
margin:100px auto;
width:300px;
background:#111;
padding:30px;
border-radius:10px;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:5px;
}
